<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shine.video.dao.CollectMapper" >
  <resultMap id="BaseResultMap" type="com.shine.video.dao.model.Collect" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="vid" property="vid" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />

    <association property="video" javaType="com.shine.video.dao.model.Video">
        <id column="vid" property="vid" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
        <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
    </association>

  </resultMap>
  <sql id="Base_Column_List" >
    cid, uid, vid, delete_flag, created_at, remark
  </sql>

  <sql id="video">
    name,video_url,photo_url
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collect
    where cid = #{cid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from collect
    where cid = #{cid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.shine.video.dao.model.Collect" >
    insert into collect (cid, uid, vid, 
      delete_flag, created_at,
      remark)
    values (#{cid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{vid,jdbcType=INTEGER}, 
      #{deleteFlag,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.shine.video.dao.model.Collect" >
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="vid != null" >
        vid,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.shine.video.dao.model.Collect" >
    update collect
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="vid != null" >
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.shine.video.dao.model.Collect" >
    update collect
    set uid = #{uid,jdbcType=INTEGER},
      vid = #{vid,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>

  <select id="selectByUidAndVid" resultMap="BaseResultMap" >
    select
    *
    from collect
    where uid = #{uid,jdbcType=INTEGER}
    AND vid = #{vid,jdbcType=INTEGER}
    AND delete_flag != 1
  </select>

  <select id="page" resultMap="BaseResultMap" >
    select
    c.*,
    <include refid="video" />
    from collect c ,video v
    where  c.uid = #{uid,jdbcType=INTEGER}
    AND c.delete_flag != 1
    AND v.delete_flag !=1
    AND c.vid=v.vid
  </select>

</mapper>